.social-buttons
  position relative
  text-align center
  font-size 1em

  .social-button
    display inline-block
    padding 10px 10px 8px

    a
      margin 2px 2px
      color white
      text-decoration none
      opacity .7
      transition all .15s linear

      &:hover
        opacity 1
