.social-buttons
  position fixed
  top 130px
  right 0

  .social-button
    padding 10px 10px
    padding-bottom 8px
    a
      margin 2px 2px
      color white

      &:hover, &:active, &:focus
        text-decoration none

    &.social-button-facebook
      background-color #3B5B93

    &.social-button-twitter
      background-color #63AEEB

    &.social-button-github
      background-color #F5F5F5
      a
        color black

