.social-buttons
  .social-button.social-button-facebook
    a(href='https://www.facebook.com/democraciaenred', target='_blank').flaticon-facebook
  .social-button.social-button-twitter
    a(href='https://twitter.com/fundacionder', target='_blank').flaticon-twitter

