section.proyectos.section#proyectos
  .section-title
    img(src="images/icons/icon-1.png")
    h2: | Proyectos

  .proyectos-content.clearfix
    .educacion
      .overlay-text
        span: | Educación
        img(alt="img", src="images/ChangeTT-01.jpg")

      p: | Los cambios en la sociedad no ocurren cuando adoptamos nuevas herramientas sino cuando adoptamos nuevos comportamientos.
      p: | Necesitamos repensar el modelo educativo. Seguimos educando para la sociedad industrial: ciudadanos-consumidores que solo aprenden a elegir entre opciones. Receptores de un conocimiento estandarizado que baja verticalmente y los penaliza en el error.
      p: | Eduquemos ciudadanos que puedan diseñar opciones, que participen con espíritu crítico de la producción de la información. Ellos serán los ciudadanos que una sociedad abierta, conectada, integrada y empática, necesita. Uno programa o es programado.

    .investigacion
      .overlay-text
        span: | La Academia
        img(alt="img", src="images/ChangeTT-03b.jpg")

      p: | La introducción de las herramientas tecnológicas en las instituciones políticas necesita su propia biblioteca: fundamentos teóricos, estudios de casos y discusiones.
      p: | Éste área de trabajo de Democracia en Red apunta a investigar diferentes abordajes de esta preoblemática, pensar, debatir y escribir en torno a los conceptos que definen la participación, la deliberación, las instituciones y el poder frente al paradigma de la Red, para realizar aportes teóricos y empíricos.
      p.sumate | Podes colaborar con nuestros proyectos sumándote como programador o donando lo que puedas!

      .join-the-team
        a.btn.btn-join(href="mailto:speak@democracyos.org", target="_blank"): | Escribinos
        a.green-ar-l-sq.MP-common-green-CDl.MP-ar-l-sq(href="https://www.mercadopago.com/mla/debits/new?preapproval_plan_id=b680ff26e1e044cfa005c4ac66dc6d87", name="MP-payButton"): | COLABORA
        script(type="text/javascript").
          (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
