mixin project(data)
  .description-overlay
    button.close ×
    p=data.description
  .proyectos-item
    img(src='images/' + data.image)

section.proyectos.section#proyectos
  .section-title
    img(src="images/icons/icon-1.png")
    h2=projects.title

  .proyectos-content.clearfix
    - each projectData in projects.list
      +project(projectData)
