mixin project(data)
  .proyectos-item
    img(src='images/' + data.image)

section.proyectos.section#proyectos
  .section-title
    img(src="images/icons/icon-1.png")
    h2 Proyectos

  .proyectos-content.clearfix
    .description-overlay
    - each projectData in projects
      +project(projectData)
