header.site-header.clearfix
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        h1: a(href="#splash", title="Democracia en Red"): | Democracia en Red
        ul.nav.languages
          li(class=lang === 'en' ? 'selected' : '')
            a(href="/index-en.html", title="") EN
          li(class=lang === 'es' ? 'selected' : '' )
            a(href="/index.html", title="") ES
        .social

        ul.nav.nav-collapse.collapse
          li.hide.active: a(href="#splash", title=""): | Somos Red
          li: a(href="#argentina" title=""): | Nosotros
          //- li: a(href="#democracia" title=""): | Democracia OS
          li: a(href="#proyectos" title=""): | Proyectos
          li: a(href="#quienes-somos" title=""): | Quienes Somos
          li: a(href="#colaborar" title=""): | Colaborar
