header.site-header
  position fixed
  left 0
  top 0
  width 100%
  text-align center
  font-family "Open Sans"
  font-size 12px
  left 0
  right 0
  z-index 10000
  text-transform uppercase
  letter-spacing 1px
  overflow hidden
  -webkit-transform translatez(0)
  -moz-transform translatez(0)
  -ms-transform translatez(0)
  -o-transform translatez(0)
  transform translatez(0)

  &.show-logo
    .logo
      padding-left 40px
      background-image url('/images/logo-card.png')
      background-size 35px auto
      background-position left center
      background-repeat no-repeat

  .logo
    font-size 12px
    line-height 12px
    display inline-block
    margin 0
    padding 0
    float left
    padding-top 2px
    padding 24px 0

  a
    text-decoration none
    font-weight bold
    line-height 12px
    color #000

  button.btn-navbar
    margin-top 15px

  .navbar-fixed-top
    margin-bottom 0

  .navbar
    .container
      padding 0 40px
      width auto

  .navbar-inverse
    .navbar-inner
      background none
      padding 0
      box-shadow none
      border 0
      text-shadow none
      background #fff

      ul.nav
        text-align right
        float right
        padding 0
        margin 0

        li
          display inline-block
          margin 0
          padding 0
          display inline-block
          float none

          a
            margin 0 16px
            padding 0
            color #999
            background none
            box-shadow none
            text-shadow none
            padding 24px 0

            &:hover
              background none
              box-shadow none

          &.active, &.selected
            a
              color #333

          &.hide
            display none

        &.languages
          margin-left 1em

          li
            a
              margin 0
              padding-left 1em
              padding-right 1em
              font-weight 100

          li:last-child
            a
              margin-right -1em

        &.in
          float none
          margin 0

          li
            display block

            a
              display block
              margin 0
              text-align center
              padding 18px 0
              border-top 1px solid #ccc

  .social
    float right
    margin-top 12px
    font-size 14px

    a
      display block
      float left
      margin-left 20px
