header.site-header.clearfix
  .navbar.navbar-inverse
    .navbar-inner
      .container
        h1.logo
          a(href="#splash", title="Democracia en Red") Democracia en Red
        ul.nav.languages
          li(class=lang === 'en' ? 'selected' : '')
            a(href="/en/", title="") EN
          li(class=lang === 'es' ? 'selected' : '' )
            a(href="/", title="") ES

        ul.nav.nav-collapse.collapse
          li.hide: a(href="#splash")
          each item in header.items
            li: a(href="#" + item.id, title="")=item.description

