section.argentina.section#argentina
  .section-title
    img(src="images/icons/icon-1.png")
    h2 Nosotros

  .argentina-content.clearfix
    .video-buenos-aires
      iframe(src="https://embed-ssl.ted.com/talks/lang/es/pia_mancini_how_to_upgrade_democracy_for_the_internet_era.html", width="560", height="315", frameborder="0", scrolling="no", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)

    .what-we-need
      p Somos un grupo de emprendedores y activos entusiastas, provenientes de diferentes disciplinas. Creemos en el potencial democratizador de la tecnología cuando se pone al servicio de los ciudadanos. Impulsamos una nueva cultura de participación en la que dejemos de elegir entre opciones pre-diseñadas para participar de la construcción de esas opciones. Por eso creamos herramientas que transformen el sistema político en una democracia con más y mejor participación.
