section.section.argentina
  background bg-color-1
  background-size 110%
  min-height 400px

  .argentina-content
    margin auto

    .video-buenos-aires
      width 48%
      float left
      margin-right 4%
      background-size 20%

        iframe
          width 100%

    .what-we-need
      width 48%
      float left
      font-size 18px
      line-height 34px
      color #000
      margin-top 20px

      .btn
        margin-top 20px
        padding 10px 20px
        background #fff
        border 2px solid #434749
        margin-right 15px

        &:hover
          background-color #333
          color #fff
