.who-we-are
  .video-wrapper
    iframe(src="https://embed-ssl.ted.com/talks/lang/es/pia_mancini_how_to_upgrade_democracy_for_the_internet_era.html", frameborder="0", scrolling="no", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
