section.section.rinnp
  .section-title
    img(src="/images/logo_red.png")
    h2='Red de Innovación Política'
  .content
    p.description='Somos un grupo de latinoamericanas y latinoamericanos afectados por el estado de la democracia en nuestra región. El 1ro de Julio de 2016 nos juntamos en Buenos Aires y nos pusimos la meta de formar una red. El primer paso fue redactar colectivamente una carta que hable de nuestros principios, valores y objetivos políticos. Nos une el sueño de una democracia de comunes, una democracia que redistribuya el poder, que amplíe la inclusión política y que promueva los derechos humanos.'
