section.how-to-join.section.clearfix#colaborar
  .colaborate-box
    .section-title
      img(src="images/icons/icon-5.png")
      h2: | ¿Cómo puedo colaborar?
      p.description: | Hay varias formas de apoyar esta iniciativa.

    .help-link.help-sign
      p: | Doná hoy lo que puedas

      .donacion
        //- Button to trigger modal
        a.donar.btn(href="#myModal", role="button", data-toggle="modal"): | Donar
          //- Modal
        //-   #myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        //-     .modal-header
        //-       button.close(type="button", data-dismiss="modal", aria-hidden="true"): ×
        //-       h3#myModalLabel: | Opciones de donación

        //-     .modal-body
        //-       #padrinos
        //-         <a href="https://www.mercadopago.com/mla/debits/new?preapproval_plan_id=16b073cc216943fc87452f772a6423e6" name="MP-payButton" class="green-ar-m-rn">Mensual</a>
        //-         <script type="text/javascript">
        //-           (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-         </script>
        //-       </div>

        //-       <div id="donantes">

        //-         <div class="montos">
        //-           <a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=153089505-18dbe57a-75cf-481b-b8ab-214bf74b4748" name="MP-payButton" class="green-ar-m-rn">$500</a>
        //-           <script type="text/javascript">
        //-             (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-           </script>

        //-           <a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=153089505-ce2ac9df-b171-4c15-9056-2fb6fd6a39f0" name="MP-payButton" class="green-ar-m-rn">$700</a>
        //-           <script type="text/javascript">
        //-             (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-           </script>

        //-           <a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=153089505-1acc46c9-4f0b-4d04-80ec-b1772f87bd26" name="MP-payButton" class="green-ar-m-rn">$1000</a>
        //-           <script type="text/javascript">
        //-             (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-           </script>

        //-           <a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=153089505-16153b35-c3fd-4372-8bc2-efac19282eda" name="MP-payButton" class="green-ar-m-rn">$1500</a>
        //-           <script type="text/javascript">
        //-             (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-           </script>

        //-           <a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=153089505-4cee3942-92c6-4b0f-b54b-0043802a7985" name="MP-payButton" class="green-ar-m-rn">$2000</a>
        //-           <script type="text/javascript">
        //-             (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
        //-           </script>
        //-         </div>   
        //-     </div>
        //- </div>

        //- <div class="modal-footer">
        //-   <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        //- </div>

