section.how-to-join.section.clearfix#colaborar
  .colaborate-box
    .section-title
      img(src="images/icons/icon-5.png")
      h2=collaborate.title
      p.description!=collaborate.description

    .join-the-team
      p
        span
          a.btn.btn-join(href="mailto:contacto@democraciaenred.org", target="_blank")=collaborate.callToAction
