section.splash.section#splash
  .section-title
    .section-content
      p: img.logo(src="/images/logo-der-home.png")
      .splash-title
        p.description=home['description']
      include ../../social-buttons/index
