section.splash.section#splash
  .section-title
    .section-content
      p: img.logo(src="images/logo-der-home.png")
      .splash-title
        p.description=home['description-line1']
        p.description=home['description-line2']
      include ../../social-buttons/index
