section.section.splash
  overflow hidden
  position relative
  display table
  padding 60px 0
  width 100%
  min-height 768px
  min-height 100vh
  box-sizing border-box
  text-align center
  color #fff
  background transparent

  .logo
    width 345px

  .section-title
    width 100%
    margin auto
    padding 0 40px
    display table-cell
    vertical-align middle

    .section-content
      max-width 600px
      margin auto

      p
        margin-bottom 20px

        &.description
          margin-top 0
          margin-bottom 0

      strong
        font-size 24px
        vertical-align middle

      h1
        color #fff
        font-weight 900
        font-size 34px
        text-transform uppercase
        display inline-block
        letter-spacing 2px
        margin-bottom 0
        margin-top 0

    .description
      font-size 25px
      padding 0px
      margin 10px auto 0px auto

      a
        color #fff
        font-weight bold

    .btn
      margin-bottom 20px
      color rgba(0,0,0,0.9)
      margin 0 14px
      border 2px solid #fff
      background none
      color #fff
      text-align center
      margin-top 30px

      &:hover
        background-color #fff
        color #333
        border-color #fff

      &.btn-kickstarter
        border-color #54c2b6
        background-color #54c2b6
        color #fff
        font-size 18px
        font-weight 600
        vertical-align middle
        padding 15px 25px

        &:hover
          background-color #fff
          border-color #fff
          color #222

      &.btn2
        color #fff

    .countdown-container
      margin 10px 0 40px 0

      strong
        display inline-block
        padding 20px 10px
        font-weight normal
        font-size 18px

      span
        background #fff
        color #333
        display inline-block
        margin 0 1px
        padding 20px 10px
        border-radius 3px
        font-size 40px
        margin-bottom -24px
        box-shadow 0 -27px 0 #f1f1f1 inset


    .share-twitter
      color #fff
      font-family Open Sans
      text-transform uppercase
      margin-left 0
      margin-right 0

      &:hover
        text-decoration: none

    .splash-left, .splash-right
      float: left
      max-width: 480px
      text-align: left

    .splash-right
      max-width: 500px
      padding-left: 40px


  .social-buttons
    top 60px
