section.splash.section#splash
  .section-title
    .section-content
      p: img.logo(src="images/DeR_logo_nuevo.png")
      .splash-title
        p.description Nos unimos para innovar en donde nadie está innovando aún: en el sistema político. Democracia en Red es un espacio para encontrarse a imaginar, diseñar e implementar innovaciones en el sistema político que adapten la democracia al siglo XXI. Transformemos el ruido en señal, cambiemos la herramienta.</p>
        a.btn.btn-kickstarter.share-twitter(href="http://twitter.com/intent/tweet?text=Pasemos+de+la+agitaci%C3%B3n+a+la+construcci%C3%B3n.+Cambiemos+la+herramienta.+@Democracyos", target="_blank")
          span Difundamos
  a.arrow-down(href="#argentina")
