section.section.splash
  color #fff
  height 800px
  overflow hidden
  background transparent
  padding 0
  position relative
  display table
  text-align center
  width 100%

  img
    &.logo
      height 220px

    &:not(.logo)
      border-radius 2px

  .section-title
    width 100%
    margin auto
    padding 40px
    display table-cell
    vertical-align middle
    padding-top 70px

    .section-content
      max-width 880px
      margin auto

      p
        margin-bottom 20px

      strong
        font-size 24px
        vertical-align middle

      h1
        color #fff
        font-weight 900
        font-size 34px
        text-transform uppercase
        display inline-block
        letter-spacing 2px
        margin-bottom 0
        margin-top 0

    .description
      font-size 25px
      padding 0px
      margin 10px auto 0px auto
      opacity .65

      a
        color #fff
        font-weight bold

    .btn
      margin-bottom 20px
      color rgba(0,0,0,0.9)
      margin 0 14px
      border 2px solid #fff
      background none
      color #fff
      text-align center
      margin-top 30px

      &:hover
        background-color #fff
        color #333
        border-color #fff

      &.btn-kickstarter
        border-color #54c2b6
        background-color #54c2b6
        color #fff
        font-size 18px
        font-weight 600
        vertical-align middle
        padding 15px 25px

        &:hover
          background-color #fff
          border-color #fff
          color #222

      &.btn2
        color #fff

    .countdown-container
      margin 10px 0 40px 0

      strong
        display inline-block
        padding 20px 10px
        font-weight normal
        font-size 18px

      span
        background #fff
        color #333
        display inline-block
        margin 0 1px
        padding 20px 10px
        border-radius 3px
        font-size 40px
        margin-bottom -24px
        box-shadow 0 -27px 0 #f1f1f1 inset


    .share-twitter
      color #fff
      font-family Open Sans
      text-transform uppercase
      margin-left 0
      margin-right 0

      &:hover
        text-decoration: none;

    .splash-left, .splash-right
      float: left;
      max-width: 480px;
      text-align: left;

    .splash-right
      max-width: 500px;
      padding-left: 40px;

  .arrow-down
    height: 36px;
    background: url(../images/icon-arrow-down.png) #493f6b no-repeat center center;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 40%;
    right: 40%;
    width: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    i
      background: url("../images/icon-arrow-down.png") no-repeat center;
      width: 20px;
      height: 10px;
      display: block;
      margin: 14px auto;

    &:hover
      opacity: 1;

// section.section.candidatos-section
//   background-color: #f9f9f9;


// section.section.how-contribute
//   background-color: #54c2b6;

