section.who-we-are
  background #fff url("../images/bg-mafalda.jpg") fixed
  background-size cover
  padding 80px 0 100px 0

  .section-title
    padding 0 50px
    margin-bottom 40px
    width auto

    h2
      margin-bottom 50px

  .description
    width 48%
    float left
    text-align justify

    &.left
      margin-right 4%

section.team
  background-color bg-color-2
  .team-avatars
    display flex
    flex-flow row wrap
    justify-content center

    .avatar
      position relative
      padding 10px 10px
      text-align left
      width 290px
      height 450px
      margin-bottom 20px
      border-radius 3px

      .picture
        img
          height 290px
          border-radius 3px 3px 0 0

      .content
        position absolute
        top 300px
        padding 10px 15px
        width 260px
        height 160px
        border-radius 0 3px
        background-color white
        transition all default-duration ease

        .bio
          opacity 0
          visibility hidden
          transition opacity default-duration ease

        .social
          position absolute
          bottom 9px
          margin-left -5px

          a
            color darkgrey
            &:hover
              color black
              text-decoration none
            span
              position relative
              font-size 22px
              margin-left 0px

      &:hover
        .content
          top 10px
          height 450px

          .bio
            opacity 1
            visibility visible

  .members
    a
      width 10%
      float left
      display block
      opacity 0.8
      -webkit-transition opacity default-duration

    a
      &:hover
        opacity 1

      img
        width 100%
        height auto
        display block

  .join-the-team
    text-align center
    font-size 20px
    padding 20px 20px 5px 20px
    margin-top 100px

    .btn
      &.btn-join
        display inline-block
        border-color #54c2b6
        background-color #54c2b6
        background none
        color #54c2b6
        margin-left 30px
        line-height 20px
        margin-top -5px

        &:hover
          background-color #54c2b6
          color #fff

  .modal
    width 500px

    .modal-header
      margin-bottom 20px

  .thanks-message
    padding 20px

  .btn-sumate-ahora
    margin-top 20px
