section.who-we-are.section.clearfix#quienes-somos
  .section-title
    img(src="images/icons/icon-4.png")
    h2: | Quienes Somos

    .clearfix
      p.description.left: | Desde Mayo de 2012, un grupo de emprendedores de la sociedad civil, la tecnología, la política, artistas, educadores y comunicadores nos unimos para debatir sobre la Democracia en Red y como actualizar nuestro sistema de gobierno.
      p.description.right: | A partir de aquellas reuniones nos propusimos desarrollar una herramienta que lleve la voz de cada ciudadano a su parlamento correspondiente sin intermediarios y fomentar las condiciones sociales necesarias para su uso.

    .section-title
      h2: | Equipo

  .team
    ul.team-avatars
      li
        a(href="http://ar.linkedin.com/in/piamancini/", target="_blank")
          img(alt="Pía Mancini", src="images/avatar/pia_avatar4.png")
          small: | @piamancini
          em: | Pía Mancini

      //- <li><a href="http://ar.linkedin.com/in/guidovilarino" target="_blank"><img alt="Guido Vilariño" src="images/avatar/Guido.png"></a> <small>@gvilarino</small> <em>Guido Vilariño</em></li>

      //- <li><a href="http://ar.linkedin.com/in/cristiandouce" target="_blank"><img alt="Cristian Douce" src="images/avatar/Cris.jpeg"></a> <small>@cristiandouce</small> <em>Cristian Douce</em></li>

      //- <li><a href="http://ar.linkedin.com/in/slifszyc" target="_blank"><img alt="Sacha Lifszyc" src="images/avatar/Sacha.jpeg"></a> <small>@slifszyc</small> <em>Sacha Lifszyc</em></li>

      //- <li><a href="http://linkedin.com/pub/agust%C3%ADn-frizzera/2a/a79/a33" target="_blank"><img alt="Agustín Frizzera" src="images/avatar/af.jpg"></a> <small>@agustinfrizzera</small> <em>Agustín Frizzera</em></li>

      //- <li><a href="http://twitter.com/JuicyMinerva" target="_blank"><img alt="Florencia Polimeni" src="images/avatar/flor.png"></a> <small>@juicyminerva</small> <em>Florencia Polimeni</em></li>

      //- <li><a href="http://ar.linkedin.com/in/santisiri" target="_blank"><img alt="Santi Siri" src="images/avatar/Santi.jpg"></a> <small>@santisiri</small> <em>Santiago Siri</em></li>

  .section-title: h2: | Padrinos

  .padrinos
    .padrinos-avatars
      li
        a(href="http://linkedin.com/in/miguelsantosw", target="_blank")
          img(alt="Miguel Santos", src="images/padrinos/Mike.jpg")
          em: | Miguel Santos

  //-     <li><a href="http://ar.linkedin.com/in/ebrenman" target="_blank"><img alt="Esteban Brenman" src="images/padrinos/Esteban.jpg"></a><em>Esteban Brenman</em></li>

  //-     <li><a href="http://ar.linkedin.com/pub/ricardo-gorodisch/89/578/9b0" target="_blank"><img alt="Ricardo Gorodisch" src="images/padrinos/Ricky.jpg"></a><em>Ricardo Gorodisch</em></li>

  //-     <li><a href="http://ar.linkedin.com/in/marcosgalperin" target="_blank"><img alt="Marcos Galperín" src="images/padrinos/marcos.jpg"></a><em>Marcos Galperín</em></li>

  //-     <li><a href="http://linkedin.com/in/phillipec" target="_blank"><img alt="Phillipe Christodoulou" src="images/padrinos/Phillipe.jpg"></a><em>Phillipe Christodoulou</em></li>

  //-     <li><a href="http://ar.linkedin.com/in/dnofal" target="_blank"><img alt="Dani Nofal" src="images/padrinos/Dani.jpg"></a><em>Dani Nofal</em></li>

  //-     <li><a href="http://linkedin.com/in/wcasares" target="_blank"><img alt="Wences Casares" src="images/padrinos/wences.jpg"></a><em>Wences Casares</em></li>

  //-     <li><a href="http://ar.linkedin.com/in/aleestrada" target="_blank"><img alt="Alejandro Estrada" src="images/padrinos/ale.jpg"></a><em>Alejandro Estrada</em></li>
  //-   </ul>
  //- </div>

  .join-the-team
    p: span
      | Si te interesa participar del equipo de Democracia en Red 
      a.btn.btn-join(href="mailto:speak@democracyos.org", target="_blank"): | Escribinos

