section.who-we-are
  .team
    .team-avatars
      display flex
      flex-flow row wrap
      justify-content center

      .avatar
        padding 10px 10px
        text-align center

        img
          border-radius 3px
