mixin avatar(data)
  .avatar
    img(src='images/avatar/' + data.image)
    p=data.name


section.who-we-are.section.clearfix#quienes-somos
  .section-title
    img(src="images/icons/icon-4.png")
    h2 Quienes Somos

    .clearfix
      p.description.left Desde Mayo de 2012, un grupo de emprendedores de la sociedad civil, la tecnología, la política, artistas, educadores y comunicadores nos unimos para debatir sobre la Democracia en Red y como actualizar nuestro sistema de gobierno.
      p.description.right A partir de aquellas reuniones nos propusimos desarrollar una herramienta que lleve la voz de cada ciudadano a su parlamento correspondiente sin intermediarios y fomentar las condiciones sociales necesarias para su uso.

    .section-title
      h2 Equipo

  .team
    .team-avatars
      - each pal in team
        +avatar(pal)

  .join-the-team
    p
      span
        | Si te interesa participar del equipo de Democracia en Red 
        a.btn.btn-join(href="mailto:speak@democracyos.org", target="_blank") Escribinos
