.jobs
  font-size: 16px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p
    color: #333
    font-family: 'Muli', sans-serif

  header
    margin: 2em 0
    text-align: center

    .logo
      margin: 0 auto
      max-width: 300px

  .proposal
    box-sizing: border-box
    padding: 1em 2em
    margin: 0 auto 2em
    max-width: calc(100% - 20px)
    width: 768px
    background-color: #f8f8f8

    h1
      margin: .7em 0
      font-size: 2.369em

    h2
      margin: 1.3em 0 .5em
      font-size: 1.777em

    h3
      margin: 0 0 1em
      font-size: 1.333em

    p,
    li
      margin: 0 0 1em
      font-size: 1em
      line-height: 1.7

    li
      margin: 0