section.section.book
  background bg-color-1
  background-size 110%
  min-height 400px

  .content
    max-width 700px
    margin auto

    img
      max-width 26%
      margin-right 4%

    .text
      position relative
      max-width 70%
      display inline-block
      vertical-align top
      box-sizing border-box

    .description
      line-height 1.7
      font-size 16px
      display inline-block

    .btn
      margin-top 20px

    @media all and (max-width: 540px)
      img
        display none

      .text
        max-width none

      .btn
        display block
