section.section.book
  .section-title
    img(src="/images/icons/icon-1.png")
    h2=booktwo.title
  .content
    img(src='http://www.democraciaparaelsiglo21.org/img/libro.jpg')
    .text
      p.description=booktwo.description
      a.btn(href=booktwo.downloadUrl, target='_blank')=booktwo.downloadText