section.section.book
  .section-title
    img(src="images/icons/icon-1.png")
    h2=book.title
  .content
    img(src='http://www.democraciaparaelsiglo21.org/img/libro.jpg')
    span.description
      p.description=book.description
      a.btn(href=book.downloadUrl, target='_blank')=book.downloadText
