section.section.book
  background bg-color-1
  background-size 110%
  min-height 400px

  .content
    max-width 700px
    margin auto

    img
      max-width 26%

    .text
      position relative
      max-width 70%
      display inline-block
      vertical-align top
      padding 0 0 0 2em

    .description
      line-height 1.7
      font-size 16px
      display inline-block

    .btn
      margin-top 20px
