@font-face {
	font-family: "Flaticon";
	src: url("flaticons-social.eot");
	src: url("flaticons-social.eot#iefix") format("embedded-opentype"),
	url("flaticons-social.woff") format("woff"),
	url("flaticons-social.ttf") format("truetype"),
	url("flaticons-social.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  font-size: 20px;
	font-style: normal;
	padding: 0px 5px;
}.flaticon-email:before {
	content: "\e000";
}
.flaticon-github:before {
	content: "\e001";
}
.flaticon-linkedin:before {
	content: "\e002";
}
.flaticon-facebook:before {
	content: "\e003";
}
.flaticon-twitter:before {
	content: "\e004";
}
