section.democracy-network.section#democracia
  .section-title
    img(src="images/icons/icon-2.png")
    h2 Democracia OS
    p.description Nuestra visión es que DOS sea el sistema operativo de una democracia con más y mejor participación. DOS es una plataforma digital de código abierto que le permite a los ciudadanos informarse, discutir y decidir. Desarrollamos y mantenemos la aplicación para que otros partidos y organizaciones la puedan utilizar, en todo el mundo.

  .browser
    img(src="images/browser.png")
    a.dot-write.dot(data-content="Soluciones brindadas por ciudadanos y representantes para cada problématica se debaten entre todos.", data-placement="left", data-title="Crear problématica", data-toggle="popover", href="")
    a.dot-profile.dot(data-content="Se unifica la identidad virtual con la legal de todo ciudadano y luego se verifica entre pares.", data-placement="left", data-title="Perfil de usuario", data-toggle="popover", href="")
    a.dot-problematica.dot(data-content="El planteo de un problema ciudadano se delimita por tiempo y región, y todos pueden contribuir con fuentes y datos.", data-placement="right", data-title="Problematica", data-toggle="popover", href="")
    a.dot-delegar.dot(data-content="Toda propuesta se puede votar directamente o delegar el voto a alguien de confianza.", data-placement="left", data-title="Delegaciones", data-toggle="popover", href="")

  .clearfix.align-center
    a.view-source.btn(href="https://github.com/DemocraciaEnRed/app/tree/development" target="_blank"): span Código fuente
    a.demo-pdr.btn(href="http://dos.partidodelared.org" target="_blank"): span Sitio activo PDR
    a.mexico.btn(href="http://politica.datos.gob.mx" target="_blank"): span Sitio activo México
    a.mexico.btn(href="http://demos.legislatura.gov.ar" target="_blank"): span Demos (Buenos Aires)
