@font-face {
  font-family: Dosis-Regular;
  src: url(./fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: Dosis-Bold;
  src: url(./fonts/Dosis-Bold.ttf);
}

@font-face {
  font-family: Dosis-SemiBold;
  src: url(./fonts/Dosis-SemiBold.ttf);
}

@font-face {
  font-family: Dosis-Medium;
  src: url(./fonts/Dosis-Medium.ttf);
}

@font-face {
  font-family: Dosis-Light;
  src: url(./fonts/Dosis-Light.ttf);
}

@font-face {
  font-family: Dosis-ExtraLight;
  src: url(./fonts/Dosis-ExtraLight.ttf);
}

:root {
  /* COLOURS */
  --dark-accent: #a664be;
  --light-accent: #a764bf;
  --white: #fff;
  --black: #000;
  --gray: #565656;
  --light-gray: #efefef;

  /* FONTS */
  --regular: 'Dosis-Regular';
  --medium: 'Dosis-Medium';
  --semibold: 'Dosis-Semibold';
  --bold: 'Dosis-Bold';
  --light: 'Dosis-Light';
  --extralight: 'Dosis-ExtraLight';
  
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--regular), 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--black);
}

body {
  width: 100vw;
  background-color: #fff;
}

h1 {
  font-family: var(--bold);
  font-weight: bold;
  font-size: 4.8rem;
}

.section-title {
  font-family: var(--semibold);
  font-weight: 600;
  font-size: 4.2rem;
}

.subtitle {
  font-family: var(--bold);
  font-weight: bold;
  font-size: 2.4rem;
}

.subtext {
  font-family: var(--medium);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--gray);
}

.regular-text {
  font-family: var(--regular);
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: 0.08rem;
  color: var(--white);
}

.card-label {
  font-family: var(--extralight);
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--gray);
}

.btn {
  background-color: var(--light-accent);
  color: var(--white);
  border-radius: 10rem;
}

.action-text {
  font-family: var(--medium);
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
}

.submit-text {
  font-family: var(--bold)
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--white);
}


/* INSERT MEDIA QUERIES */

section {
  padding: 48px 85px 42px;
}

section:nth-child(odd) {
  background-color: var(--white);
}

section:nth-child(even) {
  background-color: var(--light-gray);
}