@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import './live.css';

@font-face {
  font-family: Dosis-Regular;
  src: url(./fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: Dosis-Bold;
  src: url(./fonts/Dosis-Bold.ttf);
}

@font-face {
  font-family: Dosis-SemiBold;
  src: url(./fonts/Dosis-SemiBold.ttf);
}

@font-face {
  font-family: Dosis-Medium;
  src: url(./fonts/Dosis-Medium.ttf);
}

@font-face {
  font-family: Dosis-Light;
  src: url(./fonts/Dosis-Light.ttf);
}

@font-face {
  font-family: Dosis-ExtraLight;
  src: url(./fonts/Dosis-ExtraLight.ttf);
}
*:focus {
  outline: none;
}

:root {
  /* COLOURS */
  --dark-accent: #8a509f;
  --light-accent: #a764bf;
  --white: #fff;
  --black: #000;
  --dark-gray: #434347;
  --gray: #565656;
  --light-gray: #efefef;

  /* FONTS */
  --regular: 'Dosis-Regular';
  --medium: 'Dosis-Medium';
  --semibold: 'Dosis-Semibold';
  --bold: 'Dosis-Bold';
  --light: 'Dosis-Light';
  --extralight: 'Dosis-ExtraLight';
  
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--regular), 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  background-color: #fff;
}

section {
  padding: 48px 85px 85px;
}

/* section:nth-child(odd) {
  background-color: var(--white);
}

section:nth-child(even) {
  background-color: var(--light-gray);
} */

h1 {
  font-family: var(--bold);
  font-weight: 500;
  font-size: 4.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

.section-title {
  width: 100%;
  font-family: var(--semibold);
  font-weight: 500;
  font-size: 4.2rem;
  text-align: center;
}

.subtitle {
  font-family: var(--bold);
  font-weight: 500;
  font-size: 2.4rem;
}

.subtext {
  font-family: var(--medium);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--gray);
  text-align: center;
}

.regular-text {
  font-family: var(--regular);
  font-size: 1.8rem;
  /*line-height: 2;*/
  letter-spacing: 0.08rem;
  color: var(--white);
}

.about-text {
  font-size: 2rem;
  letter-spacing: 0.13rem;
  text-align: center;
}
.card-label {
  font-family: var(--extralight);
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--gray);
}

.btn {
  width: 20rem;
  height: 4.5rem;
  background-color: var(--light-accent);
  border-radius: 10rem;
  border-left: 1px solid var(--dark-accent);
  border-right: 1px solid var(--dark-accent);
  border-bottom: 3px solid var(--dark-accent);
  align-self: center;
  z-index: 5;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  border-bottom: 1px solid var(--dark-accent);
  margin-top: 0.3rem;
}

.action-text {
  color: var(--white);
  font-family: var(--medium);
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.submit-text {
  font-family: var(--bold);
  color: var(--white);
  font-size: 1.9rem;
}


/*MARKDOWN FILES STYLES*/
._markdown_ {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

._markdown_ h2 {
  align-self: center;
  color: var(--dark-accent);
  font-size: 3.6rem;
  margin-bottom: 49px;
  text-transform: uppercase;
}

._markdown_ p span {
  color: var(--light-accent);
  font-size: 2.0rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}
._markdown_ span:last-child {
  margin-top: 20px !important;
  display: block;
}
._markdown_ p {
  color: var(--black);
  font-size: 2.0rem;
  letter-spacing: 0.13rem;
}

._markdown_ h3 {
  color: var(--dark-accent);
  font-size: 1.8rem;
  letter-spacing: 0.13rem;
  margin: 49px 197px 0;
}

._markdown_ ul {
  color: var(--black);
  font-size: 1.4rem;
  letter-spacing: 0.13rem;
  list-style-type: disc;
  margin: 10px 220px 0;
}



/* MEDIA QUERIES */
@media screen and (min-width: 2000px) {
  section {
    padding: 24px 300px 48px;
  }
}
@media screen and (max-width: 1024px) {

  section {
    padding: 24px 24px 48px;
  }

  h1 {
    font-size: 2.6rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .subtext {
    font-size: 2rem;
    /*line-height: 2.9rem;*/
  }

  .regular-text {
    font-size: 1.8rem;
    /*line-height: 2.4rem;*/
  }

  .card-label {
    font-size: 1.4rem;
    /*line-height: 3.8rem;*/
  }

  .btn {
    width: 20rem;
    height: 3.6rem;
  }

  .action-text {
    font-size: 2.2rem;
  }

  .submit-text {
    font-size: 1.5rem;
  }

  /*MARKDOWN FILES STYLES*/
  ._markdown_ h2 {
  font-size: 3rem;
  margin-bottom: 49px;
  }
  ._markdown_ p {
    font-size: 1.8rem;
  }
  ._markdown_ p span {
    font-size: 1.8rem;
  }

  ._markdown_ h3 {
    font-size: 1.8rem;
    margin: 49px 24px 0;
  }

  ._markdown_ ul {
    margin: 10px 24px 0;
  }
}

.tiles-container-bulma{
  margin:bottom: 20px;
}
.tile {
 -webkit-box-align:stretch;
 -ms-flex-align:stretch;
 align-items:stretch;
 display:block;
 -ms-flex-preferred-size:0;
 flex-basis:0;
 -webkit-box-flex:1;
 -ms-flex-positive:1;
 flex-grow:1;
 -ms-flex-negative:1;
 flex-shrink:1;
 min-height:-webkit-min-content;
 min-height:-moz-min-content;
 min-height:min-content
}
.tile.is-ancestor {
 margin-left:-.75rem;
 margin-right:-.75rem;
 margin-top:-.75rem
}
.tile.is-ancestor:last-child {
 margin-bottom:-.75rem
}
.tile.is-ancestor:not(:last-child) {
 margin-bottom:.75rem
}
.tile.is-child {
 margin:0!important
}
.tile.is-parent {
 padding:.75rem
}
.tile.is-vertical {
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
.tile.is-vertical>.tile.is-child:not(:last-child) {
 margin-bottom:1.5rem!important
}
@media print,screen and (min-width:769px) {
 .tile:not(.is-child) {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
 }
 .tile.is-1 {
  width:8.3333333333%
 }
 .tile.is-1,
 .tile.is-2 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-2 {
  width:16.6666666667%
 }
 .tile.is-3 {
  width:25%
 }
 .tile.is-3,
 .tile.is-4 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-4 {
  width:33.3333333333%
 }
 .tile.is-5 {
  width:41.6666666667%
 }
 .tile.is-5,
 .tile.is-6 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-6 {
  width:50%
 }
 .tile.is-7 {
  width:58.3333333333%
 }
 .tile.is-7,
 .tile.is-8 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-8 {
  width:66.6666666667%
 }
 .tile.is-9 {
  width:75%
 }
 .tile.is-9,
 .tile.is-10 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-10 {
  width:83.3333333333%
 }
 .tile.is-11 {
  width:91.6666666667%
 }
 .tile.is-11,
 .tile.is-12 {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none
 }
 .tile.is-12 {
  width:100%
 }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-bulma {
 -webkit-box-flex:1;
 -ms-flex-positive:1;
 flex-grow:1;
 margin:0 auto;
 position:relative;
 width:auto
}
@media screen and (min-width:1024px) {
 .container-bulma {
  max-width:960px
 }
 .container-bulma.is-fluid {
  margin-left:32px;
  margin-right:32px;
  max-width:none
 }
}
@media screen and (max-width:1215px) {
 .container-bulma.is-widescreen {
  max-width:1152px
 }
}
@media screen and (max-width:1407px) {
 .container-bulma.is-fullhd {
  max-width:1344px
 }
}
@media screen and (min-width:1216px) {
 .container-bulma {
  max-width:1152px
 }
}
@media screen and (min-width:1408px) {
 .container-bulma {
  max-width:1344px
 }
}