section.section.book1
  .section-title
    img(src="/images/icons/icon-1.png")
    h2=bookone.title
  .content
    img(src='http://www.recuperarlapolitica.org/img/libro.jpg')
    .text
      p.description=bookone.description
      a.btn(href=bookone.downloadUrl, target='_blank')=bookone.downloadText