extends ./src/jobs/layout.jade

block content
  .proposal#ux-designer
    include:remarkable ./src/jobs/ux-designer-en.md
  .proposal#full-stack-developer
    include:remarkable ./src/jobs/full-stack-developer-en.md
  .proposal#about-us
    include:remarkable ./src/jobs/about-us-en.md
