extends ./src/jobs/layout.jade

block content
  .proposal#ux-designer
    include:remarkable ./src/jobs/ux-designer-es.md
  .proposal#full-stack-developer
    include:remarkable ./src/jobs/full-stack-developer-es.md
  .proposal#about-us
    include:remarkable ./src/jobs/about-us-es.md
