section.transparency.section.clearfix#transparency
  .section-title
    img(src="images/icons/icon-1.png")
    h2=transparency.title
    p.description!=transparency.description
  a.btn(href="https://docs.google.com/spreadsheets/d/1y-jtDt62SbST3k1h2NEdNtHp_c7WJ7zX1uB_WpbLn0Q/edit?usp=sharing", target="_blank")=transparency.callToAction
