section.transparency.section.clearfix#transparency
  .section-title
    img(src="/images/icons/icon-1.png")
    h2=transparency.title
    p.description!=transparency.description
  each action in transparency.actions
    a.btn(href=action.url, target="_blank")=action.title
