footer
  nav
    p=footer.motto
    ul.nav
      - each item in header.items
        li: a(href="#" + item.id)=item.description
      li: a(href='/' + langUrl + 'jobs.html')= footer.jobs
    include ../social-buttons/index
