footer
  font-family "Open Sans"
  background #222
  text-align center
  color #cacac2
  text-transform uppercase
  font-weight 900
  font-size 11px
  letter-spacing 3px

  nav
    padding 60px

    ul.nav
      margin 0

      li
        display inline-block
        margin 0
        padding 0

        a
          display inline-block
          color #cacac2
          padding 0
          text-decoration none
          margin 0 20px

          &:hover
            color #fff
            background none

  .last-line
    border-top 1px solid #333
    padding 20px
    color #cacac2

.tweet-buttons
  padding 0 0 60px
