footer
  nav
    p: | Es hora de que resolvamos los problemas de hoy con las herramientas de hoy
    ul.nav
      li: a(href="#argentina", title=""): | Nosotros
      li: a(href="#democracia", title=""): | Democracia OS
      li: a(href="#proyectos", title=""): | Proyectos
      li: a(href="#quienes-somos", title=""): | Quienes Somos
      li: a(href="#colaborar", title=""): | Colaborar
